.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-a {
  text-transform: uppercase;
  color: var(--nav, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
