/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  background-image: url(../../img/smiley.svg);
  background-repeat: no-repeat;
  background-size: 42%;
  background-position: 0% 100%;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.logo {
  margin-top: 40px;
  margin-left: 40px;
}

.tout-supprimer {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #f00;
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin: 15px 0;
  font-weight: 300;
}

.tout-supprimer:hover {
  text-decoration: underline;
}
