.l-footer {
  text-align: center;
  color: #034ee5;
}

.l-footer p {
  margin: 310px 0 29px 0;
}

.l-chargerdefi {
  display: flex;
  align-self: center;
}

.l-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.l-background {
  background-image: url(/src/img/marker-around.svg);
  background-repeat: no-repeat;
  background-position: 90% 5%;
  background-size: 55%;
}
